.blackholeimage {
  position: fixed;
  top: 0px;
  z-index: -1;
}
.container1 {
  background: linear-gradient(
    180deg,
    transparent 0,
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.2) 20%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.7) 70%,
    rgba(0, 0, 0, 0.8) 80%,
    rgba(0, 0, 0, 0.9) 90%,
    #000
  );
}
.glassmorphism {
  background: rgba(17, 23, 64, 0.1);
  box-shadow: 0 8px 32px 0 rgba(2, 72, 248, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}
